<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
    
    <title></title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-10">
                <div class="top">
                    <h1>Wonderful Restaurant in Kigali</h1>
                </div><br>
                <hr><br>

                <!-- <div class="one">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/download3.jpeg" width="100%" height="300px">
                        </div>

                    </div>
                </div><br>
                <hr>
                <br> -->



                <div class="staff">
                    <p id="p"><strong>PAPYRUS RESTAURANT</strong></p>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="images/papyrus-new.jpg" width="250" height="250">
                            <p id="p1"><strong>Papyrus' building</strong><br>
                                Welcome to Oriental Gourmet by Papyrus in Kigali. We provide exquisite Chinese, Japanese and Thai dishes. We have selected the very best to give you a pleasant and memorable dining experience.

                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="images/download.jpeg" width="250" height="250">
                            <p id="p1"><strong>Papyrus' Resto & Bar</strong><br>
                                Below the lounge is a dining area and café that seem to be more for use during the daytime. Similar to the old location, the café offers a variety of baked goods including donuts, cakes and various other pastries as well as a several choices of tea and espresso drinks. 
                            </p>
                        </div>

                        <div class="col-md-4">
                            <img src="images/14812297501.jpg" width="250" height="250">
                            <p id="p1"><strong>Papyrus' food</strong><br>
                                During lunch hours they offer a high end buffet for 5,000 francs (including a drink), but you can also order from their kitchen.
                            </p>
                        </div>
                        
                    </div>
                    <br>
                    <hr><br>
                </div>
                
                <div class="staff">
                        <p id="p"><strong>HEAVEN RESTAURANT & BOUTIQUE HOTEL</strong></p>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="images/the-retreat-pool-and.jpg" width="180" height="250"  id="show1">
                                <p id="p1"><strong>Heaven building</strong><br>
                                    Heaven Restaurant & Boutique Hotel is an American-owned, private, serene property opened in May of 2008 in the lovely neighborhood of Kiyovu. 
                                </p>
                            </div>
                            <div class="col-md-4">
                                <img src="images/culinary.jpg" width="200" height="250"id="show2">
                                <p id="p1"><strong>Heaven dinning hall</strong><br>
                                    Heaven restaurant, set on wooden decking  is an inviting place to dine at night that attracts both hotel guests and non-residents 
                                </p>
                            </div>
    
                            <div class="col-md-4">
                                <img src="images/The-Retreat-29.jpg" width="200" height="250" id="show3">
                                <p id="p1"><strong>Heaven's food</strong><br>
                                    Heaven Restaurant is known for our International cuisine with local Rwandan & African flavors. We work closely with local farmers, focus on quality ingredients and cultivate an onsite organic garden where we hand pick fresh herbs and lettuce daily. 
                                </p>
                            </div>
                            
                        </div>
                        <br>
                        <hr><br>
                    </div>

                    <div class="staff">
                            <p id="p"><strong>Bamboo rooftop RESTAURANT</strong></p>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/rooftop-restaurant.jpg" width="180" height="250"  id="show1">
                                    <p id="p1"><strong>Bamboo restaurant</strong><br>
                                        This is another one of Kigali’s restaurants that I seem to frequent a lot but have yet to get around to a reviewing. They actually just recently celebrated their two-year anniversary which is weird… it seems like only yesterday that this building appeared out of nowhere, complete with the Bamboo Rooftop Chinese restaurant on the top.
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <img src="images/1586-728-1449033125.jpg" width="250" height="250"  id="show2">
                                    <p id="p1"><strong>Bamboo Bar & Resto</strong><br>
                                        Bamboo bar as Weirdness, quick service, decent food, ok prices, nice view…
                                    </p>
                                </div>
        
                                <div class="col-md-4">
                                    <img src="images/60970997_187688822221274_3019281479420544161_n.jpg" width="250" height="250"  id="show3">
                                    <p id="p1"><strong>Bamboo's food </strong><br>
                                        Food rarely takes longer than 20 or 30 minutes which makes it a good choice for a quick lunch that isn’t a Rwandan buffet. 
                                    </p>
                                </div>
                                
                            </div>
                            <br>
                            <hr><br>
                        </div>

                        <div class="staff">
                                <p id="p"><strong>CAMELLIA TEA HOUSE</strong></p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="images/download (1).jpeg" width="250" height="250" id="show1">
                                        <p id="p1"><strong>CAMELLIA house</strong><br>
                                            Cafe Camellia is a high end coffee shop that specializes in Breakfast, Coffee, Tea, pastries, Juices, Fruits and other delicious foods. We are currently located at M Peace Plaza (Makuza Building, Kigali Rwanda) Car Free Zone area, Chic building, KCM building former UTC , MIC building, KBC building and Camellia Kisimenti.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="images/312c89_1e3f0a3e1e2e497296dcbb477b46dfdc_mv2.webp" width="250" height="250"  id="show2">
                                        <p id="p1"><strong>CAMELLIA dinning hall</strong><br>
                                            We have a wing of Camellia Catering Services where you can enjoy 14 types of dishes of African food lunch buffet and catering services for events like weddings, conferences, meetings and parties. We are found at M Peace Plaza (Makuza Building, Kigali Rwanda) Car Free Zone area.
                                        </p>
                                    </div>
            
                                    <div class="col-md-4">
                                        <img src="images/14812297501.jpg" width="250" height="250" id="show3">
                                        <p id="p1"><strong>CAMELLIA's food </strong><br>
                                            Excellent Food and Enjoyable Ambiance in the Terraces for Lunch. 
                                        </p>
                                    </div>
                                    
                                </div>
                                <br>
                                <hr><br>
                            </div>

                            <div class="staff">
                                    <p id="p"><strong>ZEN ORIENTAL CUISINE KIGALI</strong></p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="images/zen pic.jpg" width="250" height="250"  id="show1">
                                            <p id="p1"><strong>Zen's building</strong><br>
                                                Zen Restaurant was founded in Kigali Rwanda in 2010 and has since become one of the most distinguished restaurants in Kigali offering a unique approach to the restaurant, lounge and nightlife experiences.
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="images/ZEN.jpg" width="250" height="250"  id="show2">
                                            <p id="p1"><strong>Zen's dinning hall</strong><br>
                                                Zen Restaurant is a pioneering Oriental fusion restaurant and bar where the control of the dining experience is placed firmly in your hands. Our mission is to provide delicious cuisine with charming and timely service in a warm and vibrant atmosphere.
                                            </p>
                                        </div>
                
                                        <div class="col-md-4">
                                            <img src="images/Zen food.jpeg" width="250" height="250"  id="show3">
                                            <p id="p1"><strong>Zen's food</strong><br>
                                                As the restaurant description implies, Zen offers more than Japanese food.  They have amazing Thai curries, and Tom Yum soup to die for! The Chinese dumplings come highly recommended as well— as do the delicious dipping sauces they come with.
                                            </p>
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <hr><br>
                                </div>

                                <div class="staff">
                                        <p id="p"><strong>JAVA HOUSE</strong></p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="images/java .jpg" width="180" height="250"  id="show1">
                                                <p id="p1"><strong>Java House</strong><br>
                                                    Java House has taken up residence in Kigali Heights, the flashy new mall and office space building across from the Convention Centre. It’s sort of a strange layout for shopping, but the roof space is perfect for a restaurant. They’ve set up in the corner of the second floor with plenty of partially covered patio space as well as a good amount of seating indoors. 
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="images/java pic.jpg" width="200" height="250"  id="show2">
                                                <p id="p1"><strong>Java Bar & Resto</strong><br>
                                                    Quality service and and a very nice ambience is the best way to describe Java house
                                                </p>
                                            </div>
                    
                                            <div class="col-md-4">
                                                <img src="images/java food.jpg" width="200" height="250"  id="show3">
                                                <p id="p1"><strong>Java's food</strong><br>
                                                    So how’s the food? Well, Java House’s menu seems to have all of the crowd-pleasers and you’ll be able to eat here many times before you come close to sampling everything. Their menu includes a good selection of Mexican food and it’s actually pretty good. I think it’s because they totally nail the salsa, the guacamole is excellent, and they’re maybe the only place in the entire city that actually has real-ish sour cream.
                                                </p>
                                            </div>
                                            
                                        </div>
                                        <br>
                                        <hr><br>
                                    </div>


                <br>

                <br><br>
            </div>
        </div>
          </div>
    
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/home.js"></script>
</body>

</html>