
{% extends 'bootstrap/base.html' %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
    <div class="container">
      <h2>Papyrus Restaurant</h2>
      <img src="/app/static/photos/papyrus-new.jpg"></img>
      <img src="/app/static/photos/download.jpeg"></img>
      <img src="/app/static/photos/14812297501.jpg"></img>
      <br>

      <h2>Heaven Restaurant</h2>
      <img src="/app/static/photos/the-retreat-pool-and.jpg"></img>
      <img src="/app/static/photos/culinary.jpg"></img>
      <img src="/app/static/photos/The-Retreat-29.jpg"></img>
      <br>

      <h2>Bamboo Rooftop Restaurant</h2>
      <img src="/app/static/photos/rooftop-restaurant.jpg"></img>
      <img src="/app/static/photos/1586-728-1449033125.jpg"></img>
      <img src="/app/static/photos/60970997_187688822221274_3019281479420544161_n.jpg"></img>
      <br>

      <h2>Camellia Tea House</h2>
      <img src="/app/static/photos/download (1).jpeg"></img>
      <img src="/app/static/photos/312c89_1e3f0a3e1e2e497296dcbb477b46dfdc_mv2.webp"></img>
      <img src="/app/static/photos/photo9jpg.jpg"></img>
      <br>

      <h2>Zen Oriental Cuisine Kigali</h2>
      <img src="/app/static/photos/zen pic.jpg"></img>
      <img src="/app/static/photos/ZEN.jpg"></img>
      <img src="/app/static/photos/Zen food.jpeg"></img>
      <br>

      <h2>Java House</h2>
      <img src="/app/static/photos/java .jpg"></img>
      <img src="/app/static/photos/java pic.jpg"></img>
      <img src="/app/static/photos/java food.jpg"></img>
      <br>



      
    </div>
  {% endblock %}